extends layout

block content
  h1 Welcome to the Widget Store!
  p Here are the available widgets:
  ul
    li(ng-repeat="widget in widgets") {{widget.size.name}} {{widget.finish.name}} Widget {{widget.type.name}}

  form(ng-submit="makeNewWidget(newWidget)")
    h2 Make a Widget!
    fieldset
      p Types:
      ul
        li(ng-repeat="type in types")
          label
            input(ng-model="newWidget.type", ng-value="type.id", type="radio")
            {{ type.name }}
    fieldset
      p Finishes:
      ul
        li(ng-repeat="finish in finishes")
          label
            input(ng-model="newWidget.finish", ng-value="finish.id", type="radio")
            {{ finish.name }}
    fieldset
      p Sizes:
      ul
        li(ng-repeat="size in sizes")
          label
            input(ng-model="newWidget.size", ng-value="size.id", type="radio")
            {{ size.name }}
      button Submit
