doctype html
html(lang='en', ng-app="app")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
    block js
      script(src="/components/angular/angular.js")
      script(src="/components/angular-ui-router/release/angular-ui-router.js")
      script(src="/components/angular-bootstrap/ui-bootstrap-tpls.js")
      script(src="app.js")
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body(ng-controller="AppController")
    block content
